
<div class="well">
    <span>Order by
        <select data-ng-model="orderBySelect">
            <option value="">Search by</option>
            <optgroup label="Creation date">
                <option value="creationDate">Creation date Asc</option>
                <option value="-creationDate">Creation date Desc</option>
            </optgroup>
            <optgroup label="Production year">
                <option value="productionYear">Production year Asc</option>
                <option value="-productionYear">Production year Desc</option>
            </optgroup>
            <optgroup label="Price">
                <option value="price">Price Asc</option>
                <option value="-price">Price Desc</option>
            </optgroup>
            <optgroup label="Kilemeters">
                <option value="milage">Kilemeters Asc</option>
                <option value="-milage">Kilemeters Desc</option>
            </optgroup>
        </select>
    </span>
</div>
<div class="row">
    <div class="span2 auction-sidebar">
        <div >
            <h4>Parameters</h4>
            <div>
                <h5>Make</h5>
                <select data-ng-model="make" data-ng-options="m.name for m in makes" data-ng-change="model = null">
                    <option value="">-- chose make --</option>
                </select>
            </div>
            <hr>
            <div>
                <h5>Model</h5>
                <select data-ng-model="model" data-ng-options="m.name for m in make.models">
                    <option value="">-- chose model --</option>
                </select>
            </div>
            <hr>
            <div>
                <h5>Fuel type</h5>
                <select data-ng-model="fuelType" data-ng-options="f.name for f in fuelTypes">
                    <option value="">-- chose fuel type --</option>
                </select>
            </div>
            <hr>
            <div>
                <h5>Price (EU)</h5>
                <input data-ng-model="priceFrom" class="price" placeholder="from"> - <input data-ng-model="priceTo" class="price" placeholder="to">
            </div>
            <hr>
            <div>
                <h5>Production year</h5>
                <input data-ng-model="yearFrom" class="price" placeholder="from"> - <input data-ng-model="yearTo" class="price" placeholder="to">
            </div>
            <hr>
        </div>
    </div>
    <div class="span10 auction-content">
        <div class="row auction-row" data-ng-repeat="a in auctions | filter:make.name | modelFilter:model | filter:fuelType.name | priceFilter: priceFrom:priceTo | yearFilter: yearFrom:yearTo | orderBy:orderBySelect">

            <div class="span2">
                <a href="#" >
                    <img src="img/no-image.jpg" alt="" class="img-polaroid">
                </a>
            </div>
            <div class="span6">
                <h3><a data-ng-href="#/car/{{a.id}}">{{a.title}}</a></h3>
                <h4>{{a.make.name}} - {{a.model.name}}</h4>
                <span>{{a.productionYear | date:'yyyy'}}, {{a.milage}} km, {{a.fuelType | lowercase}}</span>
                <br>
                <span>Added {{a.creationDate | date:'medium'}}</span>
            </div>
            <div class="span2">
                <h4><span class="price">{{a.price | currency: "" }}</span></h4>
            </div>
        </div>
    </div>
</div>
